
body
{
	font-size: 18px;
	font-size: 1.5vw;

	font-family: monospace;
}

.feature
{
	margin: 1.25rem;
}

.main
{
	font-size: 13px;
}
.medium
{
	font-size: 150%;
}
.big
{
	font-size: 200%;
}

.string div
{
	margin: .25em;
}
.string span::before, .string span::after
{
	content: '"';
}
.string span.q::before, .string span.q::after
{
	content: "'";
}


table
{
	border: 1px solid White;
	font-size: 65%;
}

td
{
	padding: .65em;
}
