
#hide
{
	display: none;
}

body
{
	background: {{ bg }};
	color:      {{ fg }};
}

.accent .fg, .ac
{
	color: {{ accent }};
}
.inv
{
	color: {{ inv.fg }};
}

.hl
{
	background: {{ highlight }};
}

.sl
{
	background: {{ selection }};
}

.string span
{
	background: {{ string.bg }};
}

.comment span
{
	background: {{ comment.bg }};
}
