
body
{
	font-size: 18px;
	font-size: 1.5vw;
}

.code
{
	font-family: monospace;
}

.feature
{
	margin: 1.25rem;
}

.main
{
	font-size: 13px;
}
.medium
{
	font-size: 150%;
}
.big
{
	font-size: 200%;
}

.string div
{
	margin: .25em;
}
